<div class="cms-nav-bg">
    <div class="cms-nav">
        <ul class="fl">
            <li class="house {if ($cate['id']==0)}cur{/if}"><a href="/news"></a></li>
            <li {if ($cate['id']==1)}class="cur"{/if}><a href="/news/1/"><!-- 消费贷 -->Konsumen</a></li>
            <li {if ($cate['id']==2)}class="cur"{/if}><a href="/news/2/"><!-- 企业贷 -->Perusahaan</a></li>
            <li {if ($cate['id']==3)}class="cur"{/if}><a href="/news/3/"><!-- 购车贷 -->Mobil</a></li>
            <li {if ($cate['id']==4)}class="cur"{/if}><a href="/news/4/"><!-- 购房贷 -->Rumah</a></li>
            <li {if ($cate['id']==5)}class="cur"{/if}><a href="/news/5/"><!-- 抵押贷 -->Hipotek</a></li>
            <li {if ($cate['id']==6)}class="cur"{/if}><a href="/news/6/"><!-- 个人贷 -->Pribadi</a></li>
        </ul>
    </div>
</div>