{include file="mobile@public/head"}
<body>
<div class="main">
    <div class="title"> <i class="u_back" onclick="window.location.href = '/center'"></i> Uangmart </div>
    
    <div class="w-list ui-text">
        <ul>
            <!-- <li><a href="javascript:;">微信公众号<span class="gray9 fr mr20">Uangmart</span></a></li> -->
            <li><a href="javascript:;"><!-- 商务合作 -->kerjasama<span class="gray9 fr mr20">123456789@huyang.com</span></a></li>
            <li><a href="javascript:;"><!-- 意见反馈 -->lapor<span class="gray9 fr mr20">123456789@huyang.com</span></a></li>
            <!-- <li>新口子推送群<span class="gray9 fr mr20">123456789</span></li> -->
        </ul>
    </div>
</div>
{include file="mobile@public/foot"}