<!-- <div class="strategy b-line">
    <div class="tit"><span> 热门攻略 Popular Guide</span></div>
    {volist name="hot_news" id="vo"}
        <div class="nc-news no-img">
            <a href="/news/detail/{$vo.id}" target="_blank">
                <div class="tit">{$vo.title}</div>
                <div class="detail">{:htmlspecialchars_decode(preg_match_content($vo['content'],14))}...</div>
            </a>
        </div>
    {/volist}
    <div class="right f12 mt10 gray"><a href="/news" target="_blank"> 更多 lebih banyak>></a></div>
</div> -->