<div class="search b-line">
    <div class="tit"><span><!-- 贷款产品搜索 -->Pencarian Aplikasi</span></div>
    <div class="search-block">
        <div class="cur" id='JigouSearch_type1'><!-- 借款金额 -->Jumlah Yang Dipinjam</div>
        <ul>
            {volist name="dic['money_limit']" id="vo" key="k"}
            <li data='{$k-1}'>{$vo}</li>
            {/volist}
        </ul>
    </div>
    <div class="search-block">
        <div class="cur" id='JigouSearch_type2'><!-- 借款期限 -->Waktu Jatuh Tempo</div>
        <ul>
            {volist name="dic['time_limit']" id="vo" key="k"}
            <li data='{$k-1}'>{$vo}</li>
            {/volist}
        </ul>
    </div>
    <div class="search-block">
        <div class="cur" id='JigouSearch_type3'><!-- 职业身份 -->Pekerjaan</div>
        <ul>
            {volist name="dic['profession']" id="vo" key="k"}
            <li data='{$k-1}'>{$vo}</li>
            {/volist}
        </ul>
    </div>
    <button class="submit-blue" id='JigouSearch'><!-- 搜一搜 -->Pencarian</button>
</div>
<script>
    $(function() {
        $('.search-block .cur').on('click', "", function() {
            var that = $(this);
            var display = $(this).parent().find('ul').css('display');
            if (display == 'none') {
                $(that).addClass('show');
            } else {
                $(that).removeClass('show');
            }
            $(that).parent().find('ul').slideToggle(100);
            $(this).parent().siblings().find('.cur').removeClass('show');
            $(this).parent().siblings().find('ul').slideUp(100);
            var li = $(this).parent().find('li');
            $(li).click(function() {
                var text = $(this).text();
                var data = $(this).attr('data');
                $(that).text(text);
                $(that).attr('data', data);
                $(that).parent().find('ul').slideUp(100);
                $(that).removeClass('show');
            });
        });
        $('#JigouSearch').on('click', "", function() {
            var type1 = $('#JigouSearch_type1').attr('data');
            var type2 = $('#JigouSearch_type2').attr('data');
            var type3 = $('#JigouSearch_type3').attr('data');
            type1 = typeof type1 == 'undefined' ? 0 : type1;
            type2 = typeof type2 == 'undefined' ? 0 : type2;
            type3 = typeof type3 == 'undefined' ? 0 : type3;
            window.location.href = "/borrow/" + type1 + "-" + type2 + "-" + type3 + "-0/";
        });
    });
</script>