{include file="mobile@public/head"}
<body class="bg-white">
<div class="main xieyi">
    <div class="title"> <i class="back" onclick="window.location.href = 'Login.html'"></i> uangmart </div>
    
    <h3 style="text-align: center;">SYARAT DAN KETENTUAN LAYANAN APLIKASI UANG MART</h3>
    <p>Syarat dan ketentuan ini menghasilkan kontrak atau disebut "PERJANJIAN FASILITAS MODAL KERJA"(selanjutnya disebut "PERJANJIAN") antara Anda sebagai Penerima Fasilitas dan Uang Mart sebagai Pemberi Fasilitas.</p>

    <p>Silahkan baca PERJANJIAN ini secara teliti. Untuk mengkonfirmasi bahwa Anda memahami dan menerima PERJANJIAN ini, klik "SETUJU".</p>

    <h4>BAHWA :</h4>
    <ul>
        <li>1. Pemberi Fasilitas atau Uang Mart dalam hal ini sebagai suatu perseroan terbatas yang menjalankan kegiatan usaha sebagai perantara bagi para pemodal untuk memberikan fasilitas modal kerja kepada calon penerima fasilitas modal kerja melalui media aplikasi yang selanjutnya disebut Uang Mart.</li>
        <li>2. Penerima Fasilitas dalam hal ini adalah perorangan atau individu, yang akan menerima pinjaman dana untuk tujuan modal kerja (selanjutnya disebut "FASILITAS") dari pemodal melalui suatu aplikasi yang dimiliki oleh Uang Mart, selanjutnya disebut RETAIL OUTLET (RO).</li>
        <li>3. RO setuju untuk menerima FASILITAS dengan memenuhi seluruh ketentuan dan persyaratan dalam PERJANJIAN ini.</li>
    </ul>
    <p>Lebih lanjut, dengan mempertimbangkan kesepahaman bersama sebagaimana diuraikan di atas, UangMart & RO dengan ini menyepakati hal-hal sebagai berikut : ____________________</p>

    <h4>A.  PEMBERIAN FASILITAS</h4>
    <ul>
        <li>1. Secara berkala Uang Mart dapat mengumpulkan informasi, menyimpan informasi, mengakses dan mengkaji informasi data pribadi (termasuk informasi pribadi yang sensitif) dari RO, baik yang didapatkan secara langsung ataupun dari sumber lain sesuai dengan hukum yang berlaku. Oleh sebab itu RO harus menjamin keakuratan data yang diberikan.</li>
        <li>2. Uang Mart akan memberikan FASILITAS kepada RO melalui Aplikasi Uang Mart yang dikelola dari waktu ke waktu selama JANGKA WAKTU PERJANJIAN setelah PERJANJIAN berlaku efektif dan seluruh dokumen penunjang lain terkait PERJANJIAN telah lengkap dan/atau diterima oleh RO.</li>
        <li>3. Dana yang diberikan untuk FASILITAS ini adalah dalam denominasi Rupiah</li>
        <li>4. RO harus melakukan pembayaran atas FASILITAS ke rekening yang akan diberitahukan oleh Uang Mart.</li>
        <li>5. RO diharuskan membayar FASILITAS sesuai dengan jadwal yang diberikan Uang Mart.</li>
        <li>6. Bila RO tidak melakukan pembayaran sesuai dengan jadwal yang telah disepakati dalam jangka waktu 7 (tujuh) hari setelah jatuh tempo maka Uang Mart  berhak melakukan pemblokiran FASILITAS dan akan mengirimkan surat peringatan.</li>
    </ul>
    
    <h4>B.  JANGKA WAKTU PERJANJIAN</h4>
    <ul>
        <li>PERJANJIAN berlaku efektif sejak RO meng-KLIK "SETUJU" untuk jangka waktu satu (1) tahun ke depan ("JANGKA WAKTU PERJANJIAN").</li>
    </ul>

    <h4>C.  PERNYATAAN DAN JAMINAN RO</h4>
    <ul>
        <li>1. Memiliki kapasitas dan telah memperoleh perizinan dan/atau persetujuan yang diperlukan berdasarkan hukum atau perjanjian lain yang mengikat RO untuk mengikatkan diri, melaksanakan haknya dan mematuhi kewajibannya berdasarkan PERJANJIAN ini.</li>
        <li>2. Kewajiban RO berdasarkan PERJANJIAN ini adalah sah dan mengikat.</li>
        <li>3. RO tidak sedang atau akan menjalani proses perkara di pengadilan yang :
            <ul>
                <li>a.  Dapat menghalangi pelaksanaan hak atau pemenuhan kewajiban-kewajibannya berdasarkan PERJANJIAN ini; atau</li>
                <li>b.  Dapat berdampak secara negatif yang material terhadap RO dalam pelaksanaan hak atau pemenuhan kewajiban-kewajibannya berdasarkan PERJANJIAN ini;</li>
            </ul>
        </li>
        <li>4. RO tidak sedang atau akan menjalani proses hukum penundaan kewajiban pembayaran utang atau kepailitan.</li>
        <li>5. RO berjanji, tanpa syarat apapun, untuk senantiasa patuh terhadap seluruh ketentuan dan syarat yang diatur dalam PERJANJIAN, termasuk dan dokumen penunjang lainnya terkait persyaratan dan / atau dokumen lain yang diminta oleh Uang Mart dari waktu ke waktu.</li>
    </ul>

    <h4>D.  BERAKHIRNYA PERJANJIAN</h4>
    <ul>
        <li>1. PERJANJIAN berakhir dengan sendirinya setelah lewat JANGKA WAKTU PERJANJIAN (tanpa diperlukan pemberitahuan dalam bentuk apapun oleh Uang Mart) dan catatan seluruh kewajiban RO telah dipenuhi. Namun demikian, RO dapat mengajukan perpanjangan JANGKA WAKTU PERJANJIAN dengan permohonan tertulis kepada Uang Mart paling lambat 30 (tiga puluh) hari kalender sebelum berakhirnya JANGKA WAKTU PERJANJIAN.</li>
        <li>2. PERJANJIAN dapat diakhiri oleh Uang Mart  dalam hal RO melanggar ketentuan PERJANJIANdan/atau lampirannya serta dokumen penunjang lain terkait PERJANJIAN.</li>
        <li>3. Pengakhiran PERJANJIAN sebagaimana di maksud di atas akan berlaku efektif setelah adanya pemberitahuan tertulis tentang pelanggaran yang dilakukan RO, dan RO tidak memperbaikinya dalam jangka waktu 14 (empat belas) hari kalender sejak tanggal pemberitahuan tertulis tersebut.</li>
        <li>4.Seluruh kewajiban yang belum diselesaikan RO sebelum pengakhiran PERJANJIAN wajib diselesaikan dalam jangka waktu 14 (empat belas) hari kalender sejak tanggal berakhirnya PERJANJIAN.</li>
    </ul>

    <h4>E.  HUKUM YANG BERLAKU DAN PENYELESAIAN SENGKETA</h4>
    <ul>
        <li>1.PERJANJIAN ini tunduk pada hukum Negara Republik Indonesia.</li>
        <li>2.Jika diperlukan maka RO wajib menandatangani PERJANJIAN ini secara tertulis sesuai dengan kaidah keabsahan PERJANJIAN.</li>
        <li>3.Setiap dan segala sengketa, ketidak sepahaman atau konflik yang timbul dari atau berkaitan dengan PERJANJIAN ini, termasuk sengketa terhadap keabsahan, pelaksanaan, sifat mengikat, pelanggaran, perubahan, kadaluarsa dan pengakhiran PERJANJIAN ini ("Sengketa"), wajib, selama memungkinkan, diselesaikan secara musyawarah untuk mufakat oleh Uang Mart & RO.</li>
        <li>4.Apabila Sengketa tidak dapat diselesaikan secara musyawarah untuk mufakat dalam jangka waktu 30 (tiga puluh) hari kalender sejak tanggal pemberitahuan pihak yang satu kepada pihak yang lain mengenai adanya Sengketa, maka para pihak setuju bahwa Sengketa tersebut akan diselesaikan melalui Pengadilan Negeri Jakarta Pusat.</li>
    </ul>

    <h4>F.  LAIN-LAIN</h4>
    <ul>
        <li>1.PERJANJIAN ini menggantikan semua perjanjian sebelumnya dan/atau pemahaman Uang Mart & RO baik yang dibuat secara lisan maupun tertulis mengenai pokok permasalahan dalam PERJANJIAN ini.</li>
        <li>2.Semua pemberitahuan, permintaan atau komunikasi lain yang diperlukan terkait dengan PERJANJIAN ini harus tertulis dan dikirimkan secara langsung baik via Aplikasi uang Mart  atau dikirim melalui email resmi, yang ditujukan kepada penerima</li>
        <li>3.Untuk mengakhiri PERJANJIAN ini berdasarkan salah satu ketentuan dalam PERJANJIAN ini, para pihak sepakat untuk mengesampingkan ketentuan-ketentuan yang termaksud dalam Pasal 1266 ayat (2) dan (3) serta Pasal 1267 Kitab Undang-Undang Hukum Perdata Indonesia.</li>
        <li>4.Para pihak sepakat untuk segera melakukan perubahan dan/atau penyesuaian terhadap syarat dan/atau ketentuan dalam PERJANJIANdan/atau dokumen-dokumen terkait PERJANJIAN dalam hal adanya ketentuan peraturan perundang-undangan yang mengatur tentang hal-hal tersebut.</li>
        <li>5.Hal-hal lain yang belum cukup diatur dalam PERJANJIAN ini, akan diatur dalam perjanjian tambahan atau addendum yang akan disepakati oleh wakil-wakil para pihak yang berwenang. Addendum tersebut merupakan bagian yang integral dan merupakan satu kesatuan yang tidak dapat dipisahkan dari PERJANJIAN ini.</li>
        <li>6.Para pihak tidak berhak untuk mengalihkan atau memperbaharui hak dan kewajibannya berdasarkan PERJANJIAN ini tanpa persetujuan tertulis dari pihak lainnya.</li>
    </ul>
    <p>Demikian, PERJANJIAN ini dinyatakan sah setelah RETAIL OUTLET meng-klik "SETUJU" pada hari dan tanggal dilakukannya.</p>
</div>
{include file="mobile@public/foot"}