<div class="nav">
    <table>
        <tbody>
            <tr>
                <td {if(request()->controller()=='Index' && request()->action()!='faxian')}class="on"{/if}><a href="/"> <i class="icons nav1"></i> <span class="text"><!-- 我要借款 -->Pinjam</span> </a></td>
                <td {if(request()->controller()=='Index' && request()->action()=='faxian')}class="on"{/if}><a href="/faxian"> <i class="icons nav4"></i> <span class="text"><!-- 发现 -->Temukan</span> </a></td>
                <td {if(in_array(request()->controller(),['User','View','Message','Login']))}class="on"{/if}><a href="/center"> <i class="icons nav3"></i> <span class="text"><!-- 我的 -->Saya</span> <span class="unread none"></span> </a></td>
            </tr>
        </tbody>
    </table>
</div>

<input type="hidden" value="{:empty($user['id'])?0:$user['id']}" id="User_id">
<input type="hidden" value="" id="Bbs_uid">
<input type="hidden" value="" id="is_weixin">
<input type="hidden" value="" id="ref">
<input type="hidden" value="" id="is_open_ref">

<script type="text/javascript" src="__COM_JS__/common.js"></script> 
<script type="text/javascript" src="__JS__/jiekuan.js?v=1.01"></script> 
<script type="text/javascript" src="__JS__/h5auth.js"></script>

<div id="showloading" class="none"><img src="__IMG__/loading.gif"></div>
<div class="mask none"></div>

</body>
</html>
