<!doctype html>
<html>
<head>
<link href="/favicon.ico" rel="icon" type="image/x-icon" />  
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>Uangmart - Kami bantu pinjamkan uang</title><!-- 桃来网-急用钱找桃来网 -->
<meta name="keywords" http-equiv="keywords" content="Uangmart, Pinjaman Uang" />
<meta name="description" http-equiv="description" content="Uangmart adalah platfrom profesional yang dapat membantu anda menemukan pinjaman dengan mudah dan aman." />

<link rel="stylesheet" type="text/css" href="__CSS__/common.css?v=1.01">
<link rel="stylesheet" type="text/css" href="__CSS__/main.css?v=1.01">
<script type="text/javascript" src="__COM_JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/main.js"></script>
<script type="text/javascript" src="__JS__/fastclick.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111434400-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111434400-1');
</script>
</head>